*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #242333;
    color: #ffff;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    height: 100vh;
}
.movie-container{
    /* border: 2px solid red; */
    margin: 20px 0px;
}
.movie-container select{
    background-color: #ffff;
    border: 0;
    border-radius: 5px;
    font-size: 14px;
    margin-left: 10px;
    padding: 5px 15px 5px 15px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}
.container{
    perspective:1000px;
    margin-bottom: 30px;
}
.seat{
    background-color: #444451;
    height: 12px;
    width: 15px;
    margin: 3px;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
}
.seat.selected{
    background-color: #6feaf6;
}
.seat.occupied{
    background-color: #ffffff;
}
.seat:nth-of-type(2){
    margin-right: 18px;
}
.seat:nth-last-of-type(2){
    margin-left: 18px;
}
.seat:not(.occupied):hover{
    cursor: pointer;
    transform: scale(1.2);
}
.showcase .seat:not(.occupied):hover{
    cursor: default;
    transform: scale(1);
}
.showcase{
    background-color: rgb(0, 0, 0,0.2);
    color: #777;
    padding: 5px 10px;
    border-radius: 5px;
    list-style: none;
    display: flex;
    justify-content: center;
}
.showcase li{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 10px;
}
.showcase li small{
    margin-left: 5px;
}
.row{
    display: flex;
}
.screen{
    background-color: #ffffff;
    transform: rotateX(-45deg);
    box-shadow:0px 2px 10px #ffffffaa;
    height: 70px;
    width: 100%;
    margin: 10px 0px;
}
p.text span{
    color: #6feaf6;
}